    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
    @font-face {
        font-family: 'Open Sans';
        src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'), url('../assets/fonts/OpenSans-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Open Sans';
        src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2'), url('../assets/fonts/OpenSans-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2'), url('../assets/fonts/Roboto-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2'), url('../assets/fonts/Roboto-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2'), url('../assets/fonts/Roboto-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Rubik';
        src: url('../assets/fonts/Rubik-Light.woff2') format('woff2'), url('../assets/fonts/Rubik-Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Rubik';
        src: url('../assets/fonts/Rubik-Bold.woff2') format('woff2'), url('../assets/fonts/Rubik-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    
    .wrapper {
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
    }
    
    .clearfix:before,
    .clearfix:after {
        content: '';
        display: table;
        width: 100%;
    }
    
    h1 {
        font-family: "Rubik";
        font-size: 135px;
        line-height: 155px;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        margin-top: -21px;
    }
    
    h2 {
        font-size: 37px;
        line-height: 40px;
        color: #8fb2cb;
        font-weight: 400;
        font-family: "Roboto";
    }
    
    h3 {
        font-size: 34px;
        line-height: 44px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Roboto";
    }
    
    h4 {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 36px;
        color: #8fb2cb;
        font-weight: 400;
        font-family: "Roboto";
    }
    
    h5 {
        font-size: 16px;
        line-height: 26px;
        color: #8fb2cb;
        font-weight: 400;
        font-family: "Roboto";
    }
    
    h6 {
        font-size: 13px;
        line-height: 23px;
        color: #5b7c93;
        font-weight: 400;
        font-family: "Open Sans";
    }
    
    .bg-img {
        background: url(../assets/images/sec-1.png) center center no-repeat;
        width: 100%;
    }
    /* Header Section */
    
    .logo {
        display: inline-block;
        margin: 50px 0px 0px 84px;
    }
    
    .site-navigation {
        display: inline-block;
        float: right;
        margin: 50px 60px 0px 0px;
    }
    
    a {
        text-decoration: none;
        color: white;
        vertical-align: middle;
    }
    
    .button {
        display: inline-block;
        width: 125px;
        text-align: center;
        margin-left: 18px;
        padding: 3px 0px 3px 0px;
        border: 2px solid white;
        font-size: 12px;
        line-height: 33px;
        font-weight: 600;
        font-family: "Open Sans";
    }
    
    .button:hover {
        background-color: #31abef;
        border-color: #31abef;
    }
    
    .about-us {
        display: inline-block;
        font-size: 16px;
        letter-spacing: 0px;
        color: #30aaee;
        font-weight: 500;
        font-family: "Roboto";
    }
    
    .about:hover {
        color: #30aaee;
        text-decoration: underline;
    }
    
    .career:hover {
        color: #30aaee;
        text-decoration: underline;
    }
    
    .press:hover {
        color: #30aaee;
        text-decoration: underline;
    }
    
    .about {
        padding: 0px 25px 0px 25px;
    }
    
    .career {
        padding: 0px 25px 0px 25px;
    }
    
    .press {
        padding: 0px 25px 0px 25px;
    }
    /* Header */
    
    .heading {
        padding-top: 350px;
        /* padding-bottom: 450px; */
    }
    
    .bullet {
        text-align: center;
        padding: 328px 0px 79px 0px;
    }
    /* Approach */
    
    .approach-section {
        max-width: 1920px;
        background-color: #fafafc;
        margin: 0px auto;
    }
    
    .approach-section .wrapper {
        max-width: 1360px;
        margin: 0px auto;
        /* margin-right: 0px; */
    }
    
    .approach-image {
        padding: 0px 0px 0px 0px;
        float: left;
        width: 40%;
        padding-left: 5%;
        margin: 64px 0px 0px -100px;
        /* width: 887px;
    height: 887px; */
    }
    
    .approach-image img {
        width: 100%;
    }
    
    .approach-content {
        /* width: 939px; */
        width: 54%;
        margin-top: 17px;
        float: right;
        margin-right: 83px;
    }
    
    .approach-content h4 {
        font-size: 20px;
        line-height: 26px;
        color: #5b7c93;
        font-weight: 400;
        font-family: "Open Sans";
        margin-left: -44px;
    }
    
    .info {
        padding-top: 100px;
    }
    
    .question {
        padding-top: 50px;
    }
    
    .question h4 {
        font-size: 25px;
        font-weight: 500;
    }
    
    .answer {
        padding-top: 30px;
        padding-bottom: 110px;
    }
    /* Note  */
    
    .note-section .wrapper {
        width: 100%;
    }
    
    .note {
        background: url(../assets/images/bg.jpg) left top no-repeat;
        width: 33%;
        background-size: 100%;
        padding: 156px 80px 145px 80px;
        display: inline-block;
    }
    
    .note h2 {
        padding-bottom: 13px;
        font-size: 40px;
    }
    
    .note h5 {
        padding-top: 33px;
        font-size: 20px;
    }
    
    .signature {
        padding-top: 82px;
    }
    
    .note-image {
        width: 67%;
        padding-left: 0px;
        float: right;
        /* display: inline-block; */
    }
    /* Images */
    
    .images-section .wrapper img {
        width: 19%;
        margin-top: 10px;
        margin-left: 13px;
        /* margin: 2%; */
    }
    /* Cards */
    
    .cards-section {
        max-width: 1920px;
        margin: 0px auto;
        background: url(../assets/images/circle.png) top right no-repeat;
        background-position-y: -175px;
    }
    
    .cards-section .wrapper {
        width: 1170px;
    }
    
    .cards {
        padding: 170px 0px 110px 0px;
    }
    
    .card {
        width: 50%;
        /* border: 1px solid black; */
        max-width: 555px;
        margin-bottom: 30px;
        filter: drop-shadow(0px 16px 29.5px #e4eae6);
        background-color: #ffffff;
        display: inline-block;
        padding: 65px 37px 50px 40px;
    }
    
    .block {
        width: 30px;
        display: inline-block;
    }
    
    .card .image {
        float: left;
        padding-right: 30px;
    }
    
    .content h5 {
        font-size: 16px;
        letter-spacing: 0px;
        color: #5b7c93;
        font-weight: 500;
        font-family: "Roboto";
        padding-bottom: 10px;
    }
    /* Download */
    
    .download-section .wrapper .content {
        padding: 100px 450px 85px 450px;
        text-align: center;
    }
    
    .download-section .wrapper.clearfix {
        background: url(../assets/images/bg.jpg) center center;
    }
    
    .download-section .wrapper .content .image {
        padding-top: 50px;
        padding-bottom: 75px;
    }
    
    .download-section .wrapper .content .dw-button {
        display: inline-block;
        border: 1px solid white;
        padding: 20px 57px 20px 33px;
        border-radius: 33px;
    }
    
    .download-section .wrapper .content .dw-button a {
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Open Sans";
    }
    
    .dw-button a i {
        margin-right: 34px;
        width: 28px;
        height: 22px;
    }
    /* People */
    
    .people-section {
        max-width: 975px;
        margin: 0px auto;
        text-align: center;
    }
    
    .people-section .wrapper h2 {
        padding-top: 160px;
        font-size: 23px;
        line-height: 36px;
        color: #5b7c93;
        font-family: "Roboto";
        font-weight: 500;
        text-align: center;
    }
    
    .people-section .wrapper p {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
        color: #032c48;
        padding-bottom: 50px;
        font-weight: 600;
        font-family: "Open Sans";
        text-align: center;
    }
    
    .bullets {
        padding-bottom: 85px;
    }
    /* Footer */
    
    .footer-wrapper {
        background: url(../assets/images/bg.jpg) center center repeat;
        max-width: 1920px;
        margin: 0px auto;
        position: relative;
    }
    
    .address {
        padding: 165px 135px 30px 111px;
    }
    
    .address {
        float: left;
        width: 40%;
    }
    
    .address-1 h2 {
        padding-bottom: 47px;
    }
    
    .address-1 h4 {
        padding-bottom: 106px;
    }
    
    .address-2 h2 {
        padding-bottom: 60px;
    }
    
    .address-2 h4 {
        padding-bottom: 122px;
    }
    
    .contact h3 {
        font-size: 32px;
        line-height: 35px;
        color: #8fb2cb;
        font-weight: 300;
        font-family: "Rubik";
        padding-bottom: 67px;
    }
    
    .contact-images {
        display: inline-block;
    }
    
    .sec-8 {
        position: relative;
    }
    
    .copyright {
        background: url(../assets/images/copyright.jpg) center center no-repeat;
        position: absolute;
        width: 435px;
        bottom: 35px;
        right: 0;
    }
    
    .copyright p {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 15px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto";
        text-align: center;
        padding: 24px 39px 24px 50px;
    }
    
    .logos {
        padding-right: 70px;
        padding-bottom: 40px;
    }
    
    .map {
        margin-top: 125px;
        float: right;
        width: 60%;
    }
    
    @media (max-width:1280px) {
        .download-section .wrapper .content {
            padding: 100px 0px 85px;
        }
        .images-section .wrapper img {
            width: 17%;
            margin-left: 20px;
        }
        .approach-section .wrapper {
            padding-left: 10%;
        }
        .cards-section .wrapper {
            /* width: 1170px; */
            width: 100%;
        }
        .card {
            width: 48%;
        }
        .note {
            padding: 4% 2%;
        }
        .note h2 {
            padding-top: 0%;
            font-size: 210%;
            padding-bottom: 13px;
            text-align: center;
        }
        .note h5 {
            font-size: 13px;
            padding-top: 0;
        }
        .signature {
            padding-top: 41px;
        }
        .address {
            padding: 115px 60px 30px 50px;
        }
        .address-1 h2,
        .address-2 h2,
        .contact h3 {
            padding-bottom: 20px;
            font-size: 29px;
        }
        .address-1 h4,
        .address-2 h4 {
            padding-bottom: 25px;
            font-size: 16px
        }
        .logos {
            padding-right: 18px;
            padding-bottom: 16px;
        }
    }
    
    @media (max-width:1080px) {
        .cards-section .wrapper {
            width: 100%;
        }
        .note {
            padding: 0% 2%;
        }
        .note h2 {
            padding-bottom: 5px;
        }
        .signature {
            padding-top: 1px;
        }
        .images-section .wrapper img {
            width: 17%;
            margin-left: 25px;
        }
        .cards {
            text-align: center;
        }
        .block {
            display: none;
        }
        .address-1 h2,
        .address-2 h2,
        .contact h3 {
            font-size: 26px;
            padding-bottom: 10px;
        }
        .address-1 h4,
        .address-2 h4 {
            font-size: 15px;
            padding-bottom: 25px;
        }
        .logos {
            width: 45%;
            padding-right: 10px;
            padding-bottom: 0px;
        }
        .address {
            padding: 145px 60px 30px 50px;
        }
    }
    
    @media (max-width:992px) {
        .address {
            padding: 74px 60px 30px 50px;
        }
        .logo {
            margin: 40px 0px 0px 23px;
        }
        .site-navigation {
            margin: 35px 30px 0px 0px;
        }
        .about-us {
            font-size: 15px;
        }
        .about,
        .career,
        .press {
            padding: 0 10px 0 10px;
        }
        .images-section .wrapper img {
            width: 16%;
            margin-left: 20px;
        }
        .bullets {
            padding-bottom: 50px;
        }
        h1 {
            font-size: 115px;
            line-height: 135px;
        }
        .approach-content h4 {
            font-size: 18px;
        }
        .note {
            padding: 2%;
        }
        .note h2 {
            font-size: 141%;
            padding-top: 5%;
            padding-bottom: 6%;
        }
        .note h5 {
            line-height: 19px;
        }
        .signature {
            width: 69%;
            padding-left: 20%;
            padding-top: 14%;
        }
        .download-section .wrapper .content {
            padding: 100px 60px 85px;
        }
        .people-section .wrapper h2 {
            padding: 100px 80px 50px;
        }
        .address-1 h2,
        .address-2 h2,
        .contact h3 {
            font-size: 18px;
        }
        .address-1 h4,
        .address-2 h4 {
            font-size: 10px;
        }
        .logos {
            width: 48%;
            padding-right: 30px;
        }
        .heading {
            padding-top: 100px;
        }
        .bullet {
            padding-top: 100px;
        }
        .info {
            padding-top: 80px;
        }
        .answer {
            padding-bottom: 80px;
        }
    }
    
    @media (max-width:767px) {
        .logo img {
            width: 50%;
        }
        .site-navigation {
            margin-top: 34px;
        }
        .button {
            width: 70px;
            padding: 0px;
        }
        h1 {
            font-size: 65px;
            line-height: 70px;
        }
        /* .note{
            height: 510px;
        } */
        .images-section .wrapper img {
            width: 16%;
            margin-left: 15px;
        }
        .note {
            background-size: cover;
            width: 100%;
            padding: 1.%;
        }
        .note-image {
            width: 100%;
            text-align: center;
        }
        .note h2 {
            font-size: 120%;
            padding: 0;
        }
        /* .note-image img {
            height: 510px;
        } */
        .approach-image {
            float: none;
            width: 100%;
            padding-left: 5%;
            margin: 0 auto;
        }
        .approach-section .wrapper {
            padding-left: 0;
        }
        .approach-content {
            width: 70%;
        }
        .info {
            padding-top: 0px;
        }
        .cards {
            padding-top: 100px;
            padding-bottom: 80px;
        }
        .card {
            width: 70%;
            text-align: left;
        }
        .signature {
            padding: 0;
        }
        .content h3 {
            font-size: 30px;
        }
        .download-section .wrapper .content .dw-button a {
            font-size: 18px;
        }
        .download-section .wrapper .content .dw-button {
            padding: 15px 38px 15px 33px;
        }
        .download-section .wrapper .content {
            padding: 75px 60px 70px;
        }
        .people-section .wrapper h2 {
            padding: 40px 40px 40px;
        }
        .address {
            width: 100%;
            padding-top: 80px;
        }
        .map {
            width: 100%;
            margin-top: 25px;
        }
        .address-1 h2,
        .address-2 h2,
        .contact h3 {
            font-size: 18px;
            line-height: 20px;
        }
        .address-1 h4,
        .address-2 h4 {
            font-size: 14px;
            line-height: 15px;
        }
        .copyright {
            width: 80%;
        }
        .copyright p {
            padding: 15px 0px 15px 0px;
        }
        .logos {
            padding-bottom: 15px;
        }
    }
    
    @media (max-width:479px) {
        .logo {
            width: 70%;
            float: none;
            margin-left: 30%;
        }
        .logos {
            padding-bottom: 16px;
        }
        .site-navigation {
            margin-right: 7px;
        }
        .note h2 {
            font-size: 160%;
        }
        .note h5 {
            padding-top: 10px;
        }
        h1 {
            font-size: 50px;
            line-height: 60px;
        }
        .about,
        .career,
        .press {
            font-size: 12px;
            padding: 0 5px 0 5px;
        }
        .button {
            font-size: 10px;
            margin-left: 12px;
        }
        .heading {
            padding-top: 100px;
        }
        .bullet {
            padding-top: 100px;
        }
        .bullet img {
            width: 20%;
        }
        .approach-image {
            width: 100%;
            margin: 0 auto;
            float: none;
            padding: 0;
        }
        .approach-section .wrapper {
            padding-left: 0;
        }
        .info {
            padding-top: 0;
        }
        .approach-content h4 {
            font-size: 15px;
        }
        .approach-content {
            margin-right: 14px;
            width: 80%;
        }
        .question {
            padding-top: 30px;
        }
        .note {
            width: 100%;
            padding: 8%;
        }
        .signature {
            margin: 0 auto;
            margin-top: 20px;
        }
        .note-image {
            width: 100%;
        }
        .images-section .wrapper img {
            margin: 2% auto;
            width: 100%;
        }
        .card {
            width: 92%;
            padding: 50px 5px 50px 5px;
        }
        .content h6 {
            line-height: 16px;
        }
        .content h3 {
            font-size: 20px;
            line-height: 25px;
        }
        .people-section .wrapper h2 {
            font-size: 20px;
            line-height: 25px;
            padding: 80px 40px 20px;
        }
        .bullets {
            padding-bottom: 50px;
        }
        .address {
            padding-top: 40px;
            width: 100%;
        }
        .map {
            margin: 0;
            width: 100%;
        }
    }
    
    @media (max-width:375px) {
        .site-navigation {
            text-align: center;
        }
        .button {
            width: 50%;
            margin-top: 20px;
        }
        .bullet {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .cards {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .content h6 {
            font-size: 11px;
        }
        .content h3 {
            font-size: 17px;
        }
        .download-section .wrapper .content .image {
            padding-bottom: 50px;
        }
        .download-section .wrapper .content {
            padding: 75px 50px 50px;
        }
        .people-section .wrapper h2 {
            font-size: 17px;
        }
        .copyright p {
            font-size: 10px;
            padding: 15px 3px 15px 3px;
        }
        .logos {
            padding-right: 10px;
            padding-bottom: 10px;
        }
        .note h2 {
            font-size: 160%;
            padding-bottom: 10px;
        }
    }