@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css);
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Light.woff2') format('woff2'), url('../assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../assets/fonts/PTSerif-Regular.woff2') format('woff2'), url('../assets/fonts/PTSerif-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../assets/fonts/PTSerif-Bold.woff2') format('woff2'), url('../assets/fonts/PTSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

h1 {
    font-size: 52px;
    letter-spacing: -2px;
    line-height: 55px;
    color: #3b3d40;
    font-weight: 700;
    font-family: "Montserrat";
}

h2 {
    font-size: 20px;
    line-height: 26px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
}

h3 {
    font-size: 18px;
    line-height: 27px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
}

h4 {
    font-size: 14px;
    line-height: 18px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
}

h5 {
    font-size: 11px;
    line-height: 12px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}

h6 {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 12px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}


/* Header */

header {
    background: url(../assets/images/sec-1.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
}

.navigation-bar {
    display: inline-block;
    width: 100%;
    padding: 49px 0 223px 0;
}

.bars,
.slider {
    display: none;
}

.left-text,
.center-text ul li,
.left-text ul li {
    float: left;
}

.left-text ul li {
    padding-right: 12px;
}

.center-text {
    display: inline-block;
    padding-left: 24%;
}

.center-text ul li h5 {
    padding-right: 23px;
    letter-spacing: 2px;
}

.right-text {
    float: right;
}

.right-text a {
    padding-left: 31px;
}

.logo {
    text-align: center;
}

.info {
    padding-top: 27px;
    display: inline-block;
    width: 100%;
}

.left-arrow {
    width: 25%;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.left-arrow img,
.right-arrow img {
    padding: 30% 27%;
}

.right-arrow {
    width: 25%;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.title {
    margin-top: -1%;
    width: 84%;
    float: left;
    text-align: center;
}

.title h1,
.title h2 {
    color: white;
}

.title h2 {
    padding-top: 22px;
    padding-bottom: 245px;
}


/* Start */

.start-section {
    background-color: #3b3d40;
}

.start-content {
    width: 100%;
    display: inline-block;
    padding: 5.7% 0%;
}

.left-button {
    display: inline-block;
    width: 81%;
}

.left-button {
    position: relative;
}

.fa-angle-down {
    color: white;
    position: absolute;
    top: 32%;
    right: 3%;
}

select {
    appearance: none;
}

.email {
    float: left;
    border: 1px solid #808080;
    background-color: #808080;
    border-radius: 4px;
    padding: 2.5% 10% 2.2% 2.5%;
}

.invest {
    float: right;
    border: 1px solid #808080;
    background-color: #808080;
    line-height: 18px;
    color: white;
    font-weight: 400;
    font-family: "Montserrat";
    font-size: 14px;
    border-radius: 4px;
    padding: 2% 46% 2% 2%;
}

.email::placeholder {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-weight: 400;
    font-family: "Montserrat";
}

.right-button {
    text-align: center;
    letter-spacing: 2px;
    padding: 2%;
    width: 17%;
    float: right;
    border-radius: 22px;
    background-color: #2e71f2;
}


/* Next Move */

.next-move-section {
    background-color: #f9f9f9;
}

.top-content {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 60px;
}

.heart-img {
    padding-bottom: 2%;
}

.next-title h2 {
    padding-top: 2%;
}

.cards {
    width: 100%;
    padding-bottom: 10%;
}

.card {
    text-align: center;
    width: 25%;
    float: left;
    padding: 6px 32px;
}

.card h5 {
    padding-bottom: 4%;
    font-size: 11px;
    letter-spacing: 2px;
    color: #3b3d40;
    font-weight: 700;
    font-family: "Montserrat";
}

.card img {
    padding-bottom: 14.5%;
}


/* Talent */

.content {
    display: inline-block;
    padding-top: 11%;
    padding-bottom: 13%;
}

.content .left-content {
    width: 49%;
    float: left;
}

.content .left-content h1 {
    padding-bottom: 4%;
}

.sec-4 {
    padding-top: 14%;
}

.content .right-content {
    width: 50%;
    float: right;
    text-align: right;
}

.image {
    position: relative;
}

.play {
    position: absolute;
    top: 45%;
    right: 29%;
}


/* Liberate */

.liberate-section {
    background-color: #f9f9f9;
}

.liberate-section .wrapper .content {
    padding-top: 11.5%;
    padding-bottom: 11%;
}

.liberate-section .wrapper .content .left-content {
    text-align: center;
}

.liberate-section .wrapper .content .right-content {
    text-align: left;
    width: 48.5%;
}

.liberate-section .wrapper .content .right-content h1 {
    padding-bottom: 3%;
}

.liberate-section .wrapper .content .right-content .join {
    margin-top: 11%;
    border: 1px solid #2e71f2;
    border-radius: 23px;
    background-color: #2e71f2;
    width: 39.9%;
    text-align: center;
    padding: 3% 0%;
}


/* Invest */

.invest-section .wrapper .content {
    padding-bottom: 11%;
}

.invest-section .wrapper .content .right-content {
    text-align: center;
    padding-top: 2%;
}

.donate {
    margin-top: 10%;
    margin-left: 1%;
    border: 1px solid #2e71f2;
    border-radius: 23px;
    background-color: #2e71f2;
    width: 27.5%;
    text-align: center;
    padding: 3% 0%;
}


/* Academic */

.academic-section {
    padding-bottom: 5.3%;
    background-color: #f9f9f9;
}

.academic-section .wrapper .top-content {
    padding-bottom: 40px;
}

.academic-section .wrapper .top-content h1 {
    margin: 0 auto;
    width: 95%;
}

.academic-section .wrapper .top-content h2 {
    padding-top: 1%;
    margin: 0 auto;
    width: 60%;
}

.bottom-content {
    width: 100%;
    padding-bottom: 3.5%;
    display: inline-block;
}

.bottom-content h4 {
    width: 50%;
    float: left;
    padding: 3.5%;
}

.read {
    margin: 0 auto;
    border: 1px solid #2e71f2;
    border-radius: 23px;
    background-color: #2e71f2;
    width: 16.7%;
    text-align: center;
    padding: 1.5% 0%;
}


/* Program */

.program-section {
    background: url(../assets/images/sec-8.jpg) center center no-repeat;
    background-size: cover;
}

.program-section .wrapper {
    text-align: center;
    padding: 5.4% 0 5.1%;
}

.program-section .wrapper h1 {
    color: white;
}

.program-section .wrapper h2 {
    margin: 0 auto;
    width: 26%;
    color: #C0C0C0;
    padding-top: 2.5%;
}

.subscribe {
    margin: 0 auto;
    width: 59%;
    padding-top: 6.3%;
}

.subscribe .email {
    padding: 2.5% 33% 2.5% 3%;
}

.subscribe button {
    margin: 0 auto;
    margin-left: 4%;
    border: 1px solid #2e71f2;
    border-radius: 23px;
    background-color: #2e71f2;
    width: 26%;
    text-align: center;
    padding: 3% 0%;
}


/* Footer */

footer {
    background-color: #3b3d40;
}

.footer-content {
    margin: 0 auto;
    width: 100%;
    padding: 4.3% 0% 2.7%;
}

.footer-logo {
    float: left;
}

.address {
    float: left;
    width: 51%;
    padding-left: 16%;
}

.address h4 {
    padding-bottom: 4%;
}

.icons {
    text-align: right;
    padding-bottom: 11%;
}

.icons a {
    padding-left: 10%;
    color: #72787c;
}

.copy {
    padding-left: 26%;
}

.copy h4 {
    font-size: 12px;
}

.copyright {
    width: 29%;
    float: right;
}

@media (max-width:1080px) {
    .wrapper {
        max-width: 900px;
    }
    .invest {
        padding: 2% 45% 2% 3%;
    }
    .subscribe .email {
        padding: 2.5% 34% 2.5% 3%;
    }
}

@media (max-width:992px) {
    .wrapper {
        max-width: 700px;
    }
    .right-arrow,
    .left-arrow {
        width: 50px;
        height: 50px;
    }
    .center-text {
        padding-left: 14%;
    }
    .email {
        padding: 2% 3% 2% 3%;
    }
    .invest {
        padding: 2% 43% 2% 3%;
    }
    h1 {
        font-size: 40px;
        line-height: 45px;
    }
    h3 {
        font-size: 15px;
        line-height: 25px;
    }
    h4 {
        font-size: 12.5px;
    }
    .sec-4 {
        padding-top: 25%;
    }
    .subscribe .email {
        padding: 2.5% 25% 2.5% 3%;
    }
    .program-section .wrapper h2 {
        width: 27%;
    }
    .academic-section .wrapper .top-content h2 {
        width: 63%;
    }
}

@media (max-width:767px) {
    .wrapper {
        max-width: 450px;
    }
    .bars {
        display: inline-block;
        float: right;
    }
    .navigation-bar {
        padding: 20px 0 100px 0;
    }
    .fa-angle-down {
        color: white;
        position: absolute;
        top: 70%;
        right: 5%;
    }
    h1 {
        text-align: center;
    }
    .top-content {
        padding-top: 50px;
    }
    .content .left-content {
        padding-bottom: 4%;
    }
    .academic-section .wrapper .top-content h2 {
        padding-top: 5%;
    }
    .copy {
        padding-left: 0;
    }
    .title,
    .left-button,
    .email,
    .invest {
        width: 100%;
    }
    .right-button {
        width: 50%;
        margin: 0 auto;
        float: none;
        padding: 3.5%;
    }
    #c-4,
    #c-2 {
        float: right;
    }
    .invest,
    .right-button {
        margin-top: 4%;
    }
    .cards {
        padding: 0% 4% 8%;
    }
    .card {
        width: 50%;
    }
    .liberate-section .wrapper .content .right-content {
        width: 100%;
    }
    .center-text,
    .right-text,
    .left-arrow,
    .right-arrow {
        display: none;
    }
    .slider {
        display: inline-block;
        padding-bottom: 25px;
    }
    .slider a {
        font-size: 10px;
    }
    .title h2 {
        padding-bottom: 50px;
    }
    .content .left-content {
        width: 100%;
        float: none;
    }
    .content .right-content {
        width: 100%;
        float: none;
        text-align: center;
    }
    .sec-4 {
        padding-top: 10%;
    }
    .play {
        top: 41%;
        right: 41%;
    }
    .liberate-section .wrapper .content .right-content .join,
    .donate {
        margin: 4% auto;
    }
    .content {
        padding-bottom: 7%;
    }
    .academic-section .wrapper .top-content h2 {
        width: 95%;
    }
    .bottom-content h4 {
        padding: 2%;
    }
    .academic-section .wrapper .top-content {
        padding-top: 60px;
        padding-bottom: 35px;
    }
    .program-section .wrapper h2 {
        width: 100%;
    }
    .subscribe button {
        margin: 7% auto;
        width: 45%;
        padding: 4% 0%;
    }
    .program-section .wrapper {
        padding: 5% 0;
    }
    .read {
        width: 30%;
        padding: 3% 0%;
    }
    .address {
        padding-left: 0%;
        float: right;
    }
    .footer-logo {
        padding-bottom: 6%;
        width: 40%;
        text-align: center;
    }
    .address {
        width: 60%;
    }
    .copyright {
        width: 100%;
        padding-top: 20%;
        float: none;
        text-align: center;
    }
    .icons {
        text-align: center;
        padding-bottom: 3%;
    }
    .icons a {
        padding: 0% 4%;
    }
}

@media (max-width:479px) {
    .wrapper {
        max-width: 350px;
    }
    .card {
        width: 100%;
        padding: 15px 0px;
    }
    .card img {
        padding-bottom: 5.5%;
    }
    h1 {
        text-align: center;
        font-size: 33px;
        line-height: 40px;
    }
    h2 {
        font-size: 18px;
    }
    h6 {
        font-size: 10px;
    }
    .liberate-section .wrapper .content .right-content h1 {
        padding-top: 5%;
    }
    .top-content {
        padding-top: 50px;
        padding-bottom: 45px;
    }
    .copyright {
        padding-top: 21%;
    }
    .bottom-content h4 {
        width: 100%;
    }
    /* .address {
        padding-left: 25px;
        width: 69%;
    } */
    .play {
        right: 36%;
    }
    .footer-content {
        margin: 0 auto;
        width: 100%;
        padding: 8.3% 0% 2.7%;
    }
    .subscribe button {
        margin: 7% auto;
        width: 55%;
        padding: 6% 0%;
    }
    .heart-img {
        width: 30%;
        margin: 0 auto;
    }
}