@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.woff2') format('woff2'), url('../assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-BoldItalic.woff2') format('woff2'), url('OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-ExtraBoldItalic.woff2') format('woff2'), url('OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.woff2') format('woff2'), url('OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-ExtraBold.woff2') format('woff2'), url('../assets/fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'), url('../assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Light.woff2') format('woff2'), url('../assets/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'), url('../assets/fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-LightItalic.woff2') format('woff2'), url('../assets/fonts/OpenSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../assets/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Italic.woff2') format('woff2'), url('../assets/fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-size: 16px;
    line-height: 1.625;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 800;
}

h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
}

h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

h5 {
    font-weight: 400;
    font-size: 16px;
}

h6 {
    font-weight: 400;
    font-size: 14px;
}

.clearfix {
    display: block;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

.button {
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 75px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    color: white;
    background: #f7600e;
    border: 1px solid #f7600e;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.wrapper,
.wrapper2 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}


/* Header secton */

header {
    background: url("../assets/images/header-1.png") no-repeat;
    background-size: auto;
    background-position: top center;
    padding-top: 43px;
}

header .wrapper .header_strip .logo {
    float: left;
    margin-left: 45px;
}

header .wrapper .header_strip .site_navigation {
    float: right;
    margin-top: 4px;
    margin-right: 17px;
}

header .wrapper .header_strip .site_navigation span {
    font-size: 16px;
    color: #fff;
    padding-right: 12px;
}

header .wrapper .header_strip .site_navigation .navigation_trigger {
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    margin-right: 17px;
    padding: 0px;
    width: 27px;
    height: 20px;
    line-height: 24px;
}

header .wrapper .header_strip .site_navigation .navigation {
    display: none;
}


/* hero area*/

.hero-area {
    background: url("../assets/images/header-1.png") no-repeat;
    background-size: auto;
    background-position: top -73px center;
}

.hero-area .wrapper .hero_section {
    text-align: center;
    margin-top: 150px;
}

.hero-area .wrapper .hero_section h1 {
    color: #fff;
    padding-top: 15px;
}

.hero-area .wrapper .hero_section h1 span {
    color: #f7600e;
}

.hero-area .wrapper .hero_section h3 {
    color: #fff;
    margin-top: 20px;
}

.hero-area .wrapper .hero_section .buttons {
    margin-top: 58.5px;
}

.hero-area .wrapper .hero_section .buttons .button {
    margin-left: 0px;
}

.hero-area .wrapper .hero_section .buttons .button2 {
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background: transparent;
    border: 1px solid #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 56px;
    border-radius: 10px;
    margin-left: 15px;
}

.hero-area .wrapper .hero_section .buttons .button2:hover {
    color: white;
    background: #f7600e;
    border: 1px solid #f7600e;
}

.hero-area .wrapper i {
    border: 1px solid #fff;
    width: 33px;
    height: 33px;
    margin-top: 194px;
    margin-bottom: 54px;
    padding-top: 8px;
    color: #fff;
    border-radius: 50%;
}


/* About Section*/

.about_section .wrapper .div1 {
    max-width: 25%;
    text-align: center;
    padding-top: 101px;
    margin-bottom: 100px;
    float: left;
    width: 100%;
}

.about_section .wrapper .div1 h5 {
    font-weight: 600;
    color: #3b434c;
    margin-top: 23px;
}

.about_section .wrapper .div1 h6 {
    padding: 15px 9px;
    font-weight: 400;
    line-height: 2;
    width: 210px;
    margin: 0px auto 0;
    color: #3b434c;
    padding-bottom: 0px;
}


/*Email Section */

.email_section {
    background: url("../assets/images/Banner_Email.jpg");
    text-align: center;
}

.email_input form {
    margin: 100px;
}

.email_input form .input_submit {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.email_input form .input_submit input {
    background: #fff;
    border: none;
    font-size: 16px;
    width: 556px;
    line-height: 40px;
    border-radius: 10px;
    padding: 5.2px 270px 5.2px 20px;
    display: inline-block;
    outline: none;
}

.email_input form .input_submit .btn {
    margin-left: 30px;
    text-align: center;
}

.email_input form .input_submit .btn button {
    padding: 17px 93px;
    color: f7600e;
    background: rgba(243, 95, 13, 0.5);
    border: 1px solid #fff;
    background: transparent;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.email_input form .input_submit .btn:hover button {
    background-color: #F7600E;
}


/* Work Section*/

.work_section .wrapper .texts {
    text-align: center;
    padding: 0px 360px;
}

.work_section .wrapper .texts h2 {
    margin-top: 94.5px;
    margin-bottom: 19.5px;
}

.work_section .wrapper .texts h5 {
    margin-bottom: 78.5px;
}

.work_section .wrapper .images {
    text-align: center;
}

.work_section .wrapper .images .image {
    background: url("../assets/images/img1.png");
    width: 100%;
    float: right;
    margin: 14.5px 14px;
}

.work_section .wrapper .images .image .content {
    opacity: 0;
}

.work_section .wrapper .images .image:hover .content {
    background-color: rgba(243, 95, 13, 0.9);
    height: 360px;
    width: 360px;
    border-radius: 10px;
    opacity: 1;
    display: block;
    color: #fff;
}

.work_section .wrapper .images .image .content h3 {
    padding-top: 87px;
    padding-bottom: 28px;
}

.work_section .wrapper .images .image .content h6 {
    width: 251px;
    margin: 0 auto;
}

.work_section .wrapper .images .image .content .button {
    color: #f7600e;
    background: #fff;
    margin-top: 52px;
    padding: 12px 53px;
}

.work_section .wrapper .images .button {
    padding: 0 56px;
    color: #f7600e;
    background: #f7600e;
    border: 1px solid #f7600e;
    color: white;
    line-height: 51px;
    border: none;
    border-radius: 10px;
    margin-top: 90px;
    margin-bottom: 95px;
}


/* Info Section  Start */

.info_section .left-div {
    float: left;
    width: 25%;
}

.info_section .left-div a {
    display: block;
    padding-top: 250px;
    padding-left: 130px;
}

.info_section .right-div {
    float: right;
    width: 25%;
}

.info_section .right-div a {
    display: block;
    padding-top: 250px;
    padding-left: 130px;
}

.info_section {
    background: url("../assets/images/Banner_2.jpg");
}

.info_section .info {
    text-align: center;
    float: left;
    width: 50%;
    margin: 0 auto;
    color: #fff;
}

.info_section .info img {
    margin-top: 100px;
}

.info_section .info h3 {
    padding-top: 39.5px;
}

.info_section .info h4 {
    padding-top: 33px;
    margin-bottom: 101px;
}


/* team section start */

.team_section .wrapper .texts {
    text-align: center;
    padding: 0px 360px;
}

.team_section .wrapper .texts h2 {
    margin-top: 91.5px;
    margin-bottom: 13.7px;
}

.team_section .wrapper .texts h5 {
    margin-bottom: 115.2px;
}

.team_section .wrapper .user {
    width: 25%;
    text-align: center;
    float: right;
    margin: 0 auto;
}

.team_section .wrapper .user .image {
    background-image: url("../assets/images/user_4.png");
    height: 284px;
    width: 234px;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
}

.team_section .wrapper .user:hover .image {
    transform: scale(1.1);
    border-style: solid;
    border-color: #fff #fff #f7600e #fff;
    border-radius: 10px;
    transform-origin: middle;
    transition: 0.5s;
    transform-origin: bottom;
}

.team_section .wrapper .user .image img {
    border-bottom: 10px solid #fff;
}

.team_section .wrapper .user:hover .image img {
    cursor: pointer;
    transform: translateY(-5px) scale(1.1);
    transition: 0.5s;
}

.team_section .wrapper .user .logo i {
    width: 24px;
    height: 24px;
    font-size: 14px;
    background: grey;
    color: #fff;
    padding-top: 5px;
    border-radius: 50%;
}

.team_section .wrapper .user:hover .logo .fa-facebook {
    background-color: transparent;
    color: #fff;
    background-color: rgb(55, 123, 248);
    border: 1px solid transparent;
}

.team_section .wrapper .user:hover .logo .fa-twitter {
    background-color: transparent;
    color: #fff;
    background-color: skyblue;
    border: 1px solid transparent;
}

.team_section .wrapper .user:hover .logo .fa-google-plus {
    background-color: transparent;
    color: #fff;
    background-color: red;
    border: 1px solid transparent;
}

.team_section .wrapper .user h3 {
    margin: 15.5px 0px 17.5px 0px;
}

.team_section .wrapper .user h6 {
    margin-top: 30.8px;
    margin-bottom: 90.8px;
}

.team_section .circle {
    text-align: center;
    margin-bottom: 100px;
    font-size: 12px;
    padding-left: 20px;
}

.team_section .circle .fa {
    padding-left: 10px;
    color: grey;
}

.team_section .circle .second {
    color: #f7600e;
    font-size: 14px;
}


/* Form Section Start */

.hire-section {
    background-image: url("../assets/images/hello_bg.jpg");
}

.hire-section .wrapper .content .text {
    text-align: center;
}

.hire-section .wrapper .content .text h2 {
    margin-top: 93.5px;
    margin-bottom: 16.5px;
}

.hire-section .wrapper .content .text h5 {
    padding-left: 30%;
    padding-right: 30%;
    color: whitesmoke;
}

.hire-section .wrapper .content .form {
    text-align: center;
}

.hire-section .wrapper .content .form form .email {
    border-radius: 10px;
    width: 398px;
    margin-top: 97px;
    border-style: none;
    padding: 19px 0 15px 20px;
    margin-left: 10px;
    margin-right: 25px;
}

.hire-section .wrapper .content .form form .email::placeholder {
    font-size: 16px;
    color: #3B434C;
    font-weight: 400;
    font-family: "Open Sans";
}

.hire-section .wrapper .content .form form .sub::placeholder {
    font-size: 16px;
    color: #3B434C;
    font-weight: 400;
    font-family: "Open Sans";
}

.hire-section .wrapper .content .form form .message::placeholder {
    font-size: 16px;
    color: #3B434C;
    font-weight: 400;
    font-family: "Open Sans";
}

.hire-section .wrapper .content .form form .sub {
    border-radius: 10px;
    width: 402px;
    border-style: none;
    padding: 19px 0 15px 20px;
}

.hire-section .wrapper .content .form form .message {
    font-family: 'Lato';
    width: 829px;
    border-radius: 10px;
    border-style: none;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 31px;
}

.hire-section .wrapper .content .btn .btns .hire-btn {
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background: #F7600E;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 22px;
    margin-left: 170px;
    padding: 12px 75px;
    border-radius: 10px;
}

.hire-section .wrapper .content .btn .btns .icons {
    margin-left: 320px;
}

.hire-section .wrapper .content .btn .btns .icons .fa {
    font-size: 20px;
    margin-right: 15px;
    border-radius: 50%;
    color: white;
    padding: 0;
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.hire-section .wrapper .content .btn {
    padding-bottom: 140px;
}

.hire-section .wrapper .content .btn .btns .icons a {
    text-decoration: none;
}

.hire-section .wrapper .content .btn .btns .icons i {
    width: 45px;
    height: 45px;
    background-color: blue;
    text-align: center;
}


/* Footer Section*/

.footer-section {
    width: 100%;
    background-color: #3b434c;
}

.footer-section .wrapper {
    padding: 41.5px;
    color: #fff;
    font-weight: 400;
}

.footer-section .wrapper .copy {
    float: left;
}

.footer-section .wrapper h6 {
    float: right;
}

@media (max-width:1230px) {
    .wrapper,
    .wrapper2 {
        max-width: 1000px;
    }
    .email_input form .input_submit input {
        width: 456px;
        padding: 5.2px 20px 5.2px 20px;
    }
    .work_section .wrapper .images .image {
        width: 31.33%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .work_section .wrapper .images .image:hover .content {
        width: 100%;
    }
    .hire-section,
    .info_section,
    .email_section,
    .work_section .wrapper .images .image {
        background-position: center center;
        background-size: cover;
    }
    .work_section .wrapper .texts,
    .team_section .wrapper .texts,
    .hire-section .wrapper .content .text h5 {
        padding: 0;
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
    }
    .hire-section .wrapper .content .btn .btns .icons {
        margin-left: 23%;
        text-align: right;
        display: inline-block;
    }
    .hire-section .wrapper .content .btn .btns .hire-btn {
        margin-left: 8.7%;
    }
}

@media (max-width:1080px) {
    .wrapper,
    .wrapper2 {
        max-width: 900px;
    }
    .team_section .wrapper .user {
        width: 50%;
    }
    .team_section .wrapper .user .image {
        margin-left: auto;
        margin-right: auto;
    }
    .team_section .wrapper .user h6 {
        max-width: 250px;
        margin: 30px auto;
    }
    .email_input form .input_submit input {
        width: 400px;
    }
    .hire-section .wrapper .content .btn .btns .hire-btn {
        margin-left: 3.7%;
    }
    .hire-section .wrapper .content .btn .btns .icons {
        margin-left: 34%;
    }
}

@media (max-width:992px) {
    .wrapper,
    .wrapper2 {
        max-width: 700px;
    }
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 40px;
        line-height: 1.3;
    }
    h2 {
        font-size: 30px;
        line-height: 1.33;
    }
    h3 {
        font-size: 22px;
        line-height: 1.5;
    }
    h4 {
        font-size: 16px;
        line-height: 1.5;
    }
    h5 {
        font-weight: 400;
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    .work_section .wrapper .texts h2,
    .team_section .wrapper .texts h2 {
        margin-top: 50px;
    }
    .work_section .wrapper .texts h5,
    .team_section .wrapper .texts h5 {
        margin-bottom: 50px;
    }
    .hero-area .wrapper .hero_section {
        margin-top: 70px;
    }
    .hero-area .wrapper i {
        margin-top: 70px;
    }
    .about_section .wrapper .div1 {
        padding-top: 30px;
        margin-bottom: 30px;
        max-width: 50%;
    }
    .email_input form .input_submit input {
        width: 100%;
        margin-bottom: 30px;
    }
    .work_section .wrapper .images .image {
        width: 48%;
    }
    .hire-section .wrapper .content .btn .btns .icons {
        margin-left: 25%;
    }
    .hire-section .wrapper .content .form form input,
    .hire-section .wrapper .content .form form textarea {
        width: 100% !important;
        max-width: 100% !important;
        margin: 20px 0 0 !important;
    }
    .hire-section .wrapper .content .btn .btns .hire-btn {
        margin-left: 0;
    }
}

@media (max-width:767px) {
    .wrapper,
    .wrapper2 {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h5 {
        font-size: 15px;
    }
    .email_input form {
        margin: 30px;
    }
    .email_input form .input_submit .btn {
        margin-left: 0;
    }
    .work_section .wrapper .images .image {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 10px;
    }
    .info_section .left-div,
    .info_section .right-div {
        display: none;
    }
    .info_section .info {
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .team_section .wrapper .user {
        width: 100%;
    }
    .footer-section .wrapper .copy,
    .footer-section .wrapper h6 {
        float: none;
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
    .hire-section .wrapper .content .form form input,
    .hire-section .wrapper .content .form form textarea {
        width: 100% !important;
        max-width: 100% !important;
        margin: 20px 0 0 !important;
    }
    .hire-section .wrapper .content .btn .btns .hire-btn {
        margin-left: 0;
    }
    .hire-section .wrapper .content .btn .btns .icons {
        margin-left: 27%;
        text-align: center;
    }
    .team_section .wrapper .user h6 {
        margin: 25px auto;
    }
    .team_section .wrapper .user h3 {
        margin: 10px 0px 10px 0px;
    }
    .info_section .info img,
    .hire-section .wrapper .content .text h2,
    .team_section .wrapper .texts h2,
    .work_section .wrapper .texts h2 {
        margin-top: 50px;
    }
    .team_section .circle,
    .team_section .wrapper .texts h5,
    .work_section .wrapper .texts h5,
    .info_section .info h4 {
        margin-bottom: 50px;
    }
    .hire-section .wrapper .content .btn {
        padding-bottom: 50px;
    }
    .work_section .wrapper .images .button {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .work_section .wrapper .images .image .content .button {
        padding: 10px 25px;
        line-height: 1.5;
    }
}

@media (max-width:479px) {
    .about_section .wrapper .div1 {
        max-width: 100%;
    }
    .hire-section .wrapper .content .btn .btns .icons {
        margin-left: 15%;
        margin-top: 6%;
    }
    .hire-section .wrapper .content .btn .btns .hire-btn {
        width: 100%;
        text-align: center;
    }
    .about_section .wrapper .div1 {
        margin-bottom: 25px;
    }
}

@media (max-width:375px) {
    .hero-area .wrapper .hero_section .buttons .button,
    .hero-area .wrapper .hero_section .buttons .button2 {
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
    }
    header .wrapper .header_strip .logo {
        margin-left: 15px;
    }
    header .wrapper .header_strip .site_navigation {
        margin-top: 0;
        margin-right: 0;
    }
    .about_section .wrapper .div1 img {
        width: 30%;
    }
    .hire-section .wrapper .content .btn .btns .icons .fa {
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}