@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat';
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
}

.clearfix {
    display: block;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

h1 {
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}

h2 {
    font-size: 26px;
    line-height: 30px;
    color: #464646;
    font-weight: 500;
    font-family: "Montserrat";
}

h3 {
    font-size: 18px;
    line-height: 27px;
    color: #464646;
    font-weight: 300;
    font-family: "Montserrat";
}

h4 {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    font-weight: 500;
    font-family: "Montserrat";
}

h5 {
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
}

h6 {
    font-size: 12px;
    line-height: 24px;
    color: #464646;
    font-weight: 250;
    font-family: "Montserrat";
}


/* Header */

header .left {
    float: left;
}

header .left ul {
    list-style-type: none;
    margin: 20.5px 0;
    padding: 0;
}

header .left li {
    display: inline;
    margin-left: 18.5px;
}

header .left ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

header .left li a:hover {
    color: #2e3192;
}

header .left li:first-child {
    margin-left: 0;
}

header .right {
    float: right;
}

header .right ul {
    list-style-type: none;
    margin: 17px 0;
    padding: 0;
}

header .right li {
    display: inline;
    font-size: 20px;
    margin-right: 16px;
}

header .right li:last-child {
    margin-right: 0;
}

.dropbtn {
    background-color: transparent;
    border-radius: 2px;
    color: rgb(56, 56, 56);
    padding: 6px;
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    font-size: 12px;
}

.dropdown-content a {
    color: rgb(56, 56, 56);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

i.fa.fa-shopping-bag {
    position: relative;
    height: 21px;
}

.two {
    position: absolute;
    top: 2px;
    left: 10px;
    padding-top: 1px;
    padding-left: 0px;
    background-color: #f60000;
    border: 1px solid #f60000;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
}


/* Hero-header */

.hero-header {
    background: url(../assets/images/sec-1.png) top center no-repeat;
    background-size: auto;
    border-bottom: 1px solid #FFFFFF;
}

.hero-header .wrapper .left {
    float: left;
}

.hero-header .wrapper .right {
    float: right;
}

.hero-header .wrapper .right .search {
    font-size: 13px;
    line-height: 53px;
    color: whitesmoke;
    background-color: transparent;
    margin-top: 26px;
    margin-bottom: 26px;
    font-weight: 300;
    min-width: 316px;
    border: 2px solid #fff;
    padding: 0 0 0 12px;
    max-height: 37px;
    outline: none;
}

.hero-header .wrapper .right .search::placeholder {
    color: #FFFFFF;
}

.hero-header .wrapper .left {
    margin-top: 36px;
}


/* Title */

.title-section {
    background: url(../assets/images/sec-1.png) top -91px center no-repeat;
    padding-top: 21%;
    padding-bottom: 10%;
}

.title-section .wrapper .title h2 {
    font-size: 30px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
}

.shop {
    margin-top: 43px;
}

.shop a {
    padding: 15px 27px 13px 27px;
    color: #FFFFFF;
    background-color: #2e3192;
}


/* Info */

.info-section .wrapper {
    /* max-width: 999px; */
    margin: 0 auto;
    width: 100%;
}

.info {
    float: left;
    width: 25%;
}

.info h5 {
    font-size: 16px;
    line-height: 30px;
    margin-top: 78px;
    color: #2e3192;
    font-weight: 700;
    font-family: "Montserrat";
}

.info h6 {
    margin-bottom: 90px;
}


/* Images */

.images-section .wrapper {
    max-width: 1074px;
    margin: 0 auto;
    width: 100%;
}

.accessories {
    position: absolute;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    padding: 20px 16px 20px 20px;
    top: 35px;
    left: 40px;
    line-height: 25px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.left-images {
    float: left;
    width: 50%;
    padding-bottom: 17px;
    position: relative;
}

.top-images {
    position: relative;
}

.drinks {
    position: absolute;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: white;
    padding: 12px 22px 12px 20px;
    top: 17px;
    left: 550px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
}

.electronics {
    position: absolute;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: white;
    padding: 12px 22px 12px 20px;
    top: 17px;
    right: 70px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
}

.t-2 {
    margin-left: 38px;
}

.bottom-images {
    margin-top: 50px;
    position: relative;
}

.footwear {
    position: absolute;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: white;
    padding: 12px 15px 12px 15px;
    top: 17px;
    right: 383px;
    line-height: 20px;
    color: #000000;
    font-weight: 500;
    font-family: "Montserrat";
}


/* Trending */

.trending-section .wrapper {
    text-align: center;
    max-width: 1200px;
}

.trend {
    margin-top: 136px;
    position: relative;
    text-align: center;
}

.trend::before {
    content: '';
    height: 2px;
    position: absolute;
    width: 30%;
    left: 0;
    top: 25px;
    background: #B2B2B2
}

.trend::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 30%;
    top: 25px;
    right: 0;
    background: #B2B2B2;
}

.trending-section .wrapper .cards {
    margin-top: 56px;
    margin-bottom: 111px;
}

.trending-section .wrapper .cards .card {
    display: inline-block;
    /* width: 245px; */
    text-align: center;
    padding-right: 30px;
    padding-bottom: 50px;
}

.trending-section .wrapper .cards .card .image-content {
    border: 1px solid white;
    padding: 78px 62px 78px 62px;
    opacity: 0;
}

#img-1:hover .image-content {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: background-color .5s;
}

#img-2:hover .image-content {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: background-color .5s;
}

#img-3:hover .image-content {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: background-color .5s;
}

#img-4:hover .image-content {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: background-color .5s;
}

#img-5:hover .image-content {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: background-color .5s;
}

#img-6:hover .image-content {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: background-color .5s;
}

#img-7:hover .image-content {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: background-color .5s;
}

#img-8:hover .image-content {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: background-color .5s;
}

#img-1 {
    background: url(../assets/images/i-1.jpg) center center no-repeat;
}

#img-2 {
    background: url(../assets/images/i-2.jpg) center center no-repeat;
}

#img-3 {
    background: url(../assets/images/i-3.jpg) center center no-repeat;
}

#img-4 {
    background: url(../assets/images/i-4.jpg) center center no-repeat;
    position: relative;
}

#img-4 .sale {
    position: absolute;
    padding-top: 2px;
    top: 0;
    right: 0;
}

#img-5 {
    background: url(../assets/images/i-5.jpg) center center no-repeat;
    position: relative;
}

#img-5 .sale {
    position: absolute;
    padding-top: 2px;
    top: 0;
    left: 0;
}

#img-6 {
    background: url(../assets/images/i-6.jpg) center center no-repeat;
}

#img-7 {
    background: url(../assets/images/i-7.jpg) center center no-repeat;
}

#img-8 {
    background: url(../assets/images/i-8.jpg) center center no-repeat;
}

.view-button {
    border: 1px solid black;
    background-color: black;
    padding: 10px 0px 10px 0px;
    width: 114px;
}

.view-button a {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.add-button {
    border: 1px solid #2e3192;
    background-color: #2e3192;
    padding: 10px 0px 10px 0px;
    width: 114px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.add-button a {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.likes a {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 15px;
    color: #000000;
    font-weight: 300;
    font-family: "Montserrat";
}

.trending-section .wrapper .cards .card .content {
    text-align: left;
}

.trending-section .wrapper .cards .card .content h3 {
    font-size: 18px;
    line-height: 20px;
    color: #464646;
    font-weight: 300;
    padding-top: 20px;
    font-family: "Montserrat";
}

.trending-section .wrapper .cards .card .content h5 {
    font-size: 14px;
    line-height: 20px;
    color: #464646;
    font-weight: 300;
    padding-top: 9px;
    font-family: "Montserrat";
    display: inline-block;
}

.trending-section .wrapper .cards .card .content p {
    font-size: 14px;
    line-height: 20px;
    color: #f60000;
    font-weight: 300;
    padding-top: 9px;
    font-family: "Montserrat";
    float: right;
    padding-right: 10px;
}


/* Recent */

.recent-section .recent-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.recent {
    position: relative;
    text-align: center;
}

.recent::before {
    content: '';
    height: 2px;
    position: absolute;
    width: 30%;
    left: 0;
    top: 25px;
    background: #B2B2B2
}

.recent::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 30%;
    top: 25px;
    right: 0;
    background: #B2B2B2;
}

.recent-section .recent-wrapper .cards {
    display: inline-block;
    margin-left: 68px;
    margin-top: 100px;
}

.recent-section .recent-wrapper .cards .card {
    max-width: 481px;
    display: inline-block;
    width: 50%;
    margin-right: 70px;
    padding-bottom: 66px;
}


/* .block {
    display: inline-block;
    width: 10px;
} */

.recent-section .recent-wrapper .cards .card .img {
    float: left;
    padding: 0px 20px 0px 0px;
}

.recent-section .recent-wrapper .cards .card .content h4 {
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    font-weight: 500;
    font-family: "Montserrat";
    padding-bottom: 20px;
}

.recent-section .recent-wrapper .cards .card .content h5 {
    font-size: 14px;
    line-height: 23px;
    color: #000000;
    font-weight: 275;
    font-family: "Montserrat";
}

.recent-section .recent-wrapper .cards .card .content p {
    font-size: 12px;
    line-height: 15px;
    color: #0054a6;
    font-weight: 300;
    font-family: "Montserrat";
}


/* Subscribe */

.subscribe-section {
    background: url(../assets/images/sec-2.jpg);
    max-width: 1200px;
    margin: 0 auto;
}

.subscribe-section .wrapper h3 {
    font-size: 25px;
    line-height: 30px;
    color: #363636;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: 93px 0px 34px 0px;
}

.subscribe-section .wrapper h3 b {
    font-weight: 500;
}

.email-section {
    display: inline-block;
    text-align: center;
    margin-left: 200px;
    padding-bottom: 104px;
}

.email {
    width: 445px;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    font-weight: 275;
    float: left;
    padding: 14px 0px 14px 17px;
    border: 1px solid white;
    font-family: "Montserrat";
}

.email::placeholder {
    font-size: 14px;
    line-height: 23px;
    color: #878383;
    font-weight: 275;
    font-family: "Montserrat";
}

.subscribe {
    width: 121px;
    float: right;
    margin-left: 12px;
    padding: 17px 20px 17px 20px;
    background-color: #2e3192;
    border: 1px solid #2e3192;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
}


/* Contact */

.contact-section {
    border-bottom: 1px solid #B2B2B2;
}

.contact-section .wrapper .content {
    display: inline-block;
    max-width: 1200px;
    margin-top: 40px;
    margin-bottom: 58px;
}

.contact-section .wrapper .content .contact {
    float: left;
    max-width: 340px;
    margin-right: 60px;
}

.contact-section .wrapper .content .contact h5 {
    font-size: 14px;
    line-height: 37px;
    color: #000000;
    font-weight: 300;
    padding-bottom: 10px;
    font-family: "Montserrat";
}

.contact-section .wrapper .content .contact h6 {
    font-size: 12px;
    line-height: 24px;
    color: #464646;
    font-weight: 250;
    font-family: "Montserrat";
}

.contact-section .wrapper .content .open {
    float: left;
    max-width: 140px;
    margin-right: 70px;
}

.open h6 {
    line-height: 28px;
    font-weight: 300;
}

.contact-section .wrapper .content .help {
    float: left;
    max-width: 140px;
    margin-right: 60px;
}

.help h6 {
    line-height: 30px;
    font-weight: 300;
}


/* .help {
    padding-bottom: 10px;
} */

.contact-section .wrapper .content .live {
    float: left;
    max-width: 140px;
}

.live h6 {
    line-height: 38px;
    color: #464646;
    font-weight: 500;
}


/* Footer */

.copyright {
    padding-top: 47px;
    text-align: center;
}

.copyright h5 {
    font-size: 14px;
    line-height: 20px;
    color: #464646;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    padding-bottom: 35px;
}

.icons a i {
    filter: grayscale(100%);
    width: 33px;
    height: 20px;
    padding-right: 8px;
    margin-bottom: 50px;
    text-align: center;
}

@media (max-width:1230px) {
    .wrapper {
        max-width: 1000px;
    }
    .hero-header {
        width: 100%;
        background-size: 100%;
    }
    .title-section {
        background-size: cover;
        padding-bottom: 26%;
    }
    .trending-section .wrapper .cards .card {
        width: 24%;
    }
    .recent-section .recent-wrapper .cards .card {
        margin-right: 23px;
    }
}

@media (max-width:1080px) {
    .wrapper {
        max-width: 900px;
    }
    .images-section .wrapper {
        margin: 0 auto;
        padding: 1.5%;
        width: 100%;
    }
    .title-section {
        padding-bottom: 23%;
    }
    .images {
        margin: 0 auto;
        width: 100%;
    }
    .t-2 {
        margin-left: 33px;
    }
    .left-images {
        width: 45%;
    }
    .bottom-images {
        margin-top: 0;
    }
    .right-images {
        width: 102%;
    }
    .trend::before,
    .trend::after {
        width: 28%;
    }
    #img-5 .sale,
    #img-4 .sale {
        top: 2.6%;
    }
    .trend,
    .recent {
        margin-bottom: 4%;
    }
    .trending-section .wrapper .cards {
        width: 100%;
        margin: 0 auto;
    }
    .recent-section .recent-wrapper .cards {
        margin: 0 auto;
    }
    .recent-section .recent-wrapper .cards .card {
        max-width: 481px;
        display: inline-block;
        width: 47%;
        margin-left: 14px;
        margin-right: 13px;
        padding-bottom: 30px;
    }
    .recent-section .recent-wrapper .cards .card .content h4,
    .recent-section .recent-wrapper .cards .card .content h4 {
        line-height: 20px;
    }
    .subscribe-section {
        width: 100%;
    }
    .contact-section .wrapper .content .contact,
    .contact-section .wrapper .content .open,
    .contact-section .wrapper .content .help {
        margin-right: 45px;
    }
    .subscribe-section .wrapper h3 {
        margin-top: 50px;
    }
    .email-section {
        padding-bottom: 50px;
    }
    .info h6 {
        margin-bottom: 50px;
    }
    .info h5 {
        margin-top: 50px;
    }
    .email-section {
        margin-left: 17%;
    }
    .trend::before,
    .trend::after,
    .recent::before,
    .recent::after {
        width: 27%;
    }
}

@media (max-width:992px) {
    .wrapper {
        max-width: 700px;
    }
    .info h5 {
        font-size: 13.9px;
    }
    .info h6 {
        margin-bottom: 10px;
    }
    header .right ul {
        list-style-type: none;
        margin: 17px 12px;
        padding: 0;
    }
    .trending-section .wrapper .cards .card .image-content {
        border: 1px solid white;
        padding: 78px 81px 78px 81px;
    }
    .trending-section .wrapper .cards .card {
        width: 49%;
    }
    #img-4 .sale {
        top: 0%;
        right: 16%;
    }
    #img-5 .sale {
        top: 0%;
        left: 16%;
    }
    .recent-section .recent-wrapper .cards .card {
        width: 100%;
        margin: 0;
    }
    .title-section {
        padding-bottom: 21%;
    }
    .left-images {
        float: none;
        text-align: center;
        width: 100%;
    }
    .right-images {
        text-align: center;
        margin-left: -9px;
    }
    .bottom-images {
        margin-top: 10px;
        position: relative;
    }
    .accessories {
        left: 27%;
    }
    .drinks {
        left: 27%;
    }
    .electronics {
        right: 27%;
    }
    .footwear {
        right: 60%;
    }
    .top-images {
        margin: 0 auto;
        text-align: center;
    }
    .trending-section .wrapper {
        max-width: 100%;
    }
    .trending-section .wrapper .cards {
        width: 80%;
    }
    .trend {
        margin-top: 5%;
    }
    .trend::before,
    .trend::after,
    .recent::before,
    .recent::after {
        width: 20%;
    }
    .recent-section .recent-wrapper .cards {
        text-align: center;
    }
    .recent-section .recent-wrapper .cards .card .content {
        text-align: left;
    }
    .email-section {
        /* text-align: center; */
        margin-left: 5%;
    }
    .contact-section .wrapper .content .contact h5 {
        font-size: 12px;
    }
    .contact-section .wrapper .content .contact h6 {
        font-size: 10px;
    }
    .contact-section .wrapper .content h5 {
        font-size: 12px;
    }
    .contact-section .wrapper .content h6 {
        font-size: 10px;
    }
    .contact-section .wrapper {
        max-width: 91%;
    }
}

@media (max-width:767px) {
    .wrapper {
        max-width: 600px;
    }
    .title-section {
        padding-top: 14%;
    }
    .shop {
        margin-top: 35px;
    }
    .info h5 {
        margin-top: 4%;
    }
    .info h6 {
        margin-bottom: 0;
    }
    /* .info h5 {
        font-size: 11.9px;
        margin-top: 0;
    }
    .info h6 {
        font-size: 10.5px;
        margin-bottom: 4%;
    } */
    .info-section .wrapper {
        max-width: 100%;
        text-align: center;
        padding: 3%;
    }
    .accessories {
        left: 21%;
    }
    .drinks {
        left: 19%;
    }
    .electronics {
        right: 25%;
    }
    .footwear {
        right: 65%;
    }
    .trending-section .wrapper .cards {
        width: 100%;
    }
    .trending-section .wrapper .cards .card .image-content {
        border: 1px solid white;
        padding: 78px 81px 78px 113px;
    }
    .trend::before,
    .trend::after,
    .recent::before,
    .recent::after {
        width: 20%;
    }
    .email-section {
        margin-left: 3%;
    }
    .contact-section .wrapper .content {
        margin-left: 5%;
    }
    .contact-section .wrapper {
        margin: 0 auto;
    }
    .contact-section .wrapper .content .contact h5 {
        font-size: 16px;
    }
    .contact-section .wrapper .content .contact h6 {
        font-size: 12px;
    }
    .contact-section .wrapper .content h5 {
        font-size: 16px;
    }
    .contact-section .wrapper .content h6 {
        font-size: 12px;
    }
    .contact-section .wrapper .content .contact {
        max-width: 50%;
    }
    .contact-section .wrapper .content .contact,
    .contact-section .wrapper .content .open,
    .contact-section .wrapper .content .help {
        max-width: 50%;
    }
    .contact-section .wrapper .content .open {
        width: 22%;
    }
    .contact-section .wrapper .content .help {
        width: 50%;
    }
    .info {
        width: 50%;
    }
}

@media (max-width:479px) {
    .wrapper {
        max-width: 400px;
    }
    header .left {
        width: 100%;
        text-align: center;
        float: none;
    }
    #img-4 .sale {
        top: 8%;
        right: 0%;
    }
    #img-5 .sale {
        top: 8%;
        left: 0%;
    }
    header .right {
        float: none;
        text-align: center;
    }
    .hero-header .wrapper .left {
        margin-top: 30px;
        width: 20%;
    }
    .hero-header .wrapper .right .search {
        font-size: 10px;
        line-height: 20px;
        min-width: 150px;
        max-width: 100%;
    }
    .title-section {
        padding-top: 11%;
        padding-bottom: 19%;
    }
    .title-section .wrapper .title h2,
    h1 {
        font-size: 96%;
        line-height: 30px;
    }
    .shop {
        margin-top: 2%;
    }
    .shop a {
        font-size: 65%;
        padding: 2%;
    }
    .info-section .wrapper {
        max-width: 100%;
        padding: 2%;
    }
    .info h5 {
        font-size: 90%;
    }
    .info h6 {
        font-size: 80%;
    }
    .accessories {
        left: 6%;
    }
    .drinks {
        left: 28%;
    }
    .electronics {
        top: 53%;
        right: 38%;
    }
    .footwear {
        right: 65%;
    }
    .t-2 {
        margin-top: 2%;
        margin-left: 0px;
    }
    .trend::before,
    .trend::after,
    .recent::before,
    .recent::after {
        width: 0;
    }
    .email {
        padding: 14px 0px 14px 50px;
        width: 100%;
    }
    .subscribe {
        margin-top: 4%;
        float: none;
    }
    .recent-section .recent-wrapper .cards .card {
        margin-left: 0;
        margin-right: 0;
    }
    .contact-section .wrapper .content .contact {
        width: 50%;
    }
    .contact-section .wrapper .content .open {
        max-width: 50%;
    }
    .contact-section .wrapper .content .help {
        width: 50%;
    }
}

@media (max-width:375px) {
    .wrapper {
        max-width: 350px;
    }
    /* header .wrapper {
        max-width: 100%;
    } */
    h2 {
        font-size: 20px;
    }
    header .left ul li a {
        font-size: 10px;
    }
    .info h6 {
        font-size: 75%;
    }
    .accessories {
        left: 18%;
        font-size: 12px;
        padding: 4px 16px;
    }
    .drinks {
        font-size: 12px;
        padding: 4px 16px;
        left: 20%;
    }
    .electronics {
        font-size: 12px;
        padding: 4px 16px;
        right: 47%;
    }
    .footwear {
        font-size: 12px;
        padding: 4px 16px;
        right: 55%;
    }
    .bottom-images {
        margin-left: 3%;
    }
    .recent-section .recent-wrapper .cards .card .img {
        width: 100%;
    }
    .recent-section .recent-wrapper .cards .card .content {
        text-align: center;
    }
    .contact-section .wrapper .content .open h5 {
        line-height: 20px;
    }
    /* .recent-section .recent-wrapper .cards .card .content h4 {
        line-height: 16px;
        padding-bottom: 8px;
    }
    .recent-section .recent-wrapper .cards .card .content h5 {
        font-size: 11px;
        line-height: 14px;
    } */
    .left-images img {
        width: 77%;
        height: 315px;
        margin-right: 4%;
    }
    img.t-1 {
        width: 75%;
        height: 315px;
    }
    img.t-2 {
        width: 75%;
        height: 315px;
    }
    .info h5 {
        line-height: 20px;
    }
    .bottom-images img {
        margin-right: 4%;
        height: 315px;
        width: 77%;
    }
}