    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
    @font-face {
        font-family: 'Montserrat';
        src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('../assets/fonts/Montserrat-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('../assets/fonts/Montserrat-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: url('../assets/fonts/Montserrat-Light.woff2') format('woff2'), url('../assets/fonts/Montserrat-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    
    .wrapper {
        max-width: 1558px;
        margin: 0 auto;
        width: 100%;
    }
    
    .clearfix:before,
    .clearfix:after {
        content: '';
        display: table;
        width: 100%;
    }
    
    h1 {
        font-size: 40px;
        line-height: 45px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    h2 {
        font-size: 25px;
        line-height: 40px;
        color: #0c2539;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    h3 {
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    h4 {
        font-size: 18px;
        line-height: 25px;
        color: #f5f5f5;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    h5 {
        font-size: 13px;
        line-height: 20px;
        color: #677278;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    h6 {
        font-size: 12px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    .bg-image {
        background: url(../assets/images/bg-img.jpg) center center no-repeat;
        background-size: cover;
        /* max-width: 1702px;
    width: 100%; */
    }
    
    a {
        text-decoration: none;
    }
    /* Header */
    
    header {
        background: url(../assets/images/sec-1.jpg) top center no-repeat;
        width: 100%;
        position: relative;
    }
    
    .fa-bars {
        padding-top: 2.5%;
        margin-left: -3.3%;
    }
    
    .fa-envelope {
        padding-top: 2.5%;
        margin-right: 4%;
        float: right;
    }
    
    .navigation-bar a {
        color: white;
        font-size: 30px;
    }
    
    .logo-text {
        display: none;
        padding: 53% 0% 9% 1.5%;
    }
    
    .logo-text p {
        font-size: 100px;
        line-height: 100px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
    }
    
    .logo {
        text-align: center;
        padding: 17.5% 6% 13.5% 0px;
    }
    
    .left-text {
        /* display: none; */
        color: white;
        position: absolute;
        top: 74.5%;
        left: -2%;
        transform: rotate(-90deg);
        /* display: inline-block; */
    }
    
    .left-text p {
        font-size: 10px;
        line-height: 20px;
        color: #b5bbc4;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    .fa-angle-left {
        color: white;
        position: absolute;
        top: 0%;
        right: 161%;
        font-size: 17px;
    }
    
    .fa-angle-down {
        margin-left: -3.5%;
        padding-top: 10%;
    }
    
    .down-arrow a {
        color: white;
    }
    
    .fa-circle {
        color: white;
        font-size: 5px;
        padding-right: 5px;
    }
    
    .bullets {
        font-size: 0px;
        float: right;
        padding-top: 1%;
        padding-right: 0%;
    }
    
    .content {
        display: inline-block;
        width: 100%;
    }
    
    .content .left-content {
        padding: 0.2% 58% 5% 8%;
    }
    
    .content .left-content h3 {
        padding-bottom: 18px;
    }
    
    .content .left-content p {
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    .right-content {
        margin-top: -128%;
        padding-right: 5%;
        float: right;
    }
    
    .right-content h3 {
        font-size: 14px;
    }
    
    .content .right-content a {
        color: white;
        padding: 0% 0% 0% 86%;
    }
    /* Pictures */
    
    .title {
        margin: 3% 0px 3% 12.5%;
    }
    
    .cards {
        display: inline-block;
        width: 83%;
    }
    
    .triangle {
        top: 36.5%;
        left: 0%;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 35px solid #150329;
        border-bottom: 25px solid transparent;
    }
    
    .card {
        float: left;
        width: 25%;
        padding-right: 20px;
        position: relative;
    }
    
    .img-likes {
        text-align: right;
        padding: 170px 20px 10px 0px;
    }
    
    .img-likes a {
        color: white;
        font-size: 12px;
    }
    
    .pic-content h2 {
        font-weight: 500;
    }
    
    #i-1 {
        background: url(../assets/images/i-1.jpg) top left no-repeat;
    }
    
    #i-2 {
        background: url(../assets/images/i-2.jpg) top left no-repeat;
    }
    
    #i-3 {
        background: url(../assets/images/i-3.jpg) top left no-repeat;
    }
    
    #i-4 {
        background: url(../assets/images/i-4.jpg) top left no-repeat;
        background-size: cover;
    }
    
    .pic-content {
        background-color: white;
        padding: 40px 19px 50px 40px;
    }
    
    .comment {
        background-color: #f5f5f5;
        display: inline-block;
        width: 100%;
    }
    
    .comment .left-content {
        float: left;
        padding: 20px 0px 20px 22px;
        width: 50%;
    }
    
    .comment .left-content img {
        padding-right: 1%;
    }
    
    .comment .left-content a {
        font-size: 12px;
        line-height: 15px;
        color: #0c2539;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    .comment .left-content a .fa-comment {
        padding-right: 8px;
    }
    
    .comment .right-content {
        background-color: #e5e4e2;
        margin: 0px 0px 0px 0px;
        padding: 20.5px 15px 20.5px 15px;
    }
    
    .comment .right-content a .fa-circle {
        color: #181a74;
        font-size: 9px;
        padding-right: 0;
    }
    
    .card-arrow {
        display: inline-block;
        width: 100%;
    }
    
    .right-arrow i.fa.fa-chevron-right {
        color: white;
        font-size: 45px;
    }
    
    .right-arrow {
        float: right;
        padding: 9% 10.5% 0 0;
    }
    /* Passion */
    
    .passion-section {
        margin-top: 1%;
        background: url(../assets/images/sec-3.jpg) top center no-repeat;
        width: 100%;
        position: relative;
    }
    
    .passion-section .wrapper .logo {
        text-align: center;
        padding: 17% 6% 7% 0px;
    }
    
    .passion-section .wrapper .left-text {
        top: 78%;
        left: -2%;
    }
    
    .passion-section .wrapper .content .left-content {
        padding: 5.5% 58% 5% 8%;
    }
    
    .passion-section .wrapper .content .right-content {
        margin-top: -9.5%;
    }
    /* Info */
    
    .info-section {
        position: relative;
    }
    
    .date {
        /* display: none; */
        color: white;
        position: absolute;
        top: 35%;
        left: 0%;
        transform: rotate(-90deg);
        /* display: inline-block; */
    }
    
    .date p {
        font-size: 12px;
        line-height: 20px;
        color: #b5bbc4;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    .wrapper2 {
        width: 1180px;
        margin: 0 auto;
        margin-left: 12.2%;
        margin-top: 5%;
    }
    
    .info {
        width: 100%;
        display: inline-block;
    }
    
    .info h5 {
        float: left;
        width: 45%;
        line-height: 25px;
        color: white;
        padding-right: 1%;
        padding-bottom: 2%;
    }
    /* Article */
    
    #i-5 {
        background: url(../assets/images/i-1.jpg) top left no-repeat;
    }
    
    #i-6 {
        background: url(../assets/images/i-6.jpg) top left no-repeat;
    }
    
    #i-7 {
        background: url(../assets/images/i-3.jpg) top left no-repeat;
    }
    
    #i-8 {
        background: url(../assets/images/i-8.jpg) top left no-repeat;
    }
    
    .article-section .title {
        margin: 2.5% 0px 2% 12.5%;
    }
    /* Connect */
    
    .connect-section {
        position: relative;
    }
    
    .connect-section .date {
        color: white;
        position: absolute;
        top: 21%;
        left: 0;
        transform: rotate(-90deg);
    }
    
    .connect-section .date p {
        font-size: 12px;
        line-height: 20px;
        color: #b5bbc4;
        font-weight: 400;
        font-family: "Montserrat";
    }
    
    .connect-info {
        width: 100%;
        display: inline-block;
        padding-bottom: 80px;
    }
    
    .connect {
        width: 25%;
        float: left;
    }
    
    .connect h3 {
        padding: 3% 0 8% 0;
    }
    
    .connect h5 {
        color: white;
        padding-right: 4%;
        line-height: 24px;
    }
    /* Jordan */
    
    .jordan-section {
        background: url(../assets/images/sec-7.png) center center no-repeat;
    }
    
    .jordan-content {
        padding: 13.5% 21% 14.5% 54.5%;
    }
    
    .jordan-content h1 {
        padding-bottom: 26px;
    }
    
    .jordan-content h4 {
        padding-bottom: 5px;
    }
    
    .jordan-content h5 {
        color: white;
    }
    /* Contact */
    
    footer {
        background: url(../assets/images/sec-9.jpg);
    }
    
    footer .wrapper2 {
        margin-top: 0;
    }
    
    .contact-section {
        width: 100%;
        padding-top: 6.5%;
        display: inline-block;
    }
    
    .contact-section h6 {
        padding-right: 9%;
    }
    
    .about {
        width: 25%;
        float: left;
    }
    
    .history {
        width: 15%;
        float: left;
    }
    
    .history h6,
    .contact h6 {
        line-height: 30px;
    }
    
    .contact {
        width: 22%;
        float: left;
    }
    
    .contact-section p {
        font-size: 11px;
        line-height: 12px;
        color: #0d4363;
        font-weight: 400;
        font-family: "Montserrat";
        padding-bottom: 15px;
    }
    
    .txt h6 {
        color: #5c5b61;
        padding: 5% 0% 10% 0%;
    }
    
    @media (max-width:1230px) {
        .wrapper {
            max-width: 1000px;
            margin: 0 auto;
            width: 100%;
        }
        .wrapper2 {
            max-width: 935px;
        }
        .connect h3 {
            font-size: 21px;
            padding: 3% 0 8% 0;
        }
        header,
        .passion-section {
            width: 90%;
            margin-left: 5%;
        }
        .fa-bars {
            margin-left: -9.3%;
        }
        .left-text,
        .passion-section .wrapper .left-text {
            top: 66.5%;
            left: -10%;
        }
        #ca-1,
        #ca-5 {
            display: none;
        }
        .card {
            width: 33%;
        }
        .right-content {
            margin-top: -12%;
        }
        .triangle {
            top: 36.5%;
        }
        .info,
        .connect-info {
            padding-top: 5%;
        }
        .connect-section .date {
            top: 27%;
        }
        .jordan-content {
            padding: 13.5% 18% 14.5% 54.5%;
        }
    }
    
    @media (max-width:1080px) {
        .wrapper {
            max-width: 900px;
            margin: 0 auto;
            width: 100%;
        }
        .wrapper2 {
            max-width: 845px;
        }
        .fa-envelope {
            font-size: 20px;
        }
        .jordan-content {
            padding: 13.5% 16% 14.5% 54.5%;
        }
        #ca-2,
        #ca-6 {
            display: none;
        }
        .card {
            width: 44%;
        }
        .fa-bars {
            font-size: 20px;
            margin-left: -7%;
        }
        .left-text,
        .passion-section .wrapper .left-text {
            left: -10%;
        }
        .pic-content {
            background-color: white;
            padding: 40px 19px 35px 40px;
        }
        .connect h3 {
            font-size: 21px;
        }
        .connect h5 {
            padding-right: 11%;
        }
        .history {
            width: 18%;
        }
    }
    
    @media (max-width:992px) {
        .wrapper {
            max-width: 800px;
            margin: 0 auto;
            width: 100%;
        }
        .fa-bars {
            margin-left: -9%;
        }
        .wrapper2 {
            max-width: 676px;
        }
        .jordan-content {
            padding: 13.5% 7% 14.5% 54.5%;
        }
        .about {
            width: 34%;
        }
        .history {
            width: 24%;
        }
        .contact {
            width: 36%;
        }
        .content .left-content {
            padding: 0.2% 45% 5% 8%;
        }
        .passion-section .wrapper .content .left-content {
            padding: 5.5% 45% 5% 8%;
        }
        .connect {
            width: 50%;
        }
        .connect-info {
            width: 90%;
        }
        .left-text,
        .passion-section .wrapper .left-text {
            left: -12%;
        }
        .card {
            width: 50%;
        }
        .triangle {
            top: 38%;
        }
    }
    
    @media (max-width:767px) {
        .wrapper,
        .wrapper2 {
            max-width: 700px;
            margin: 0 auto;
            width: 100%;
        }
        .bg-image {
            background: url(../assets/images/sec-9.jpg) center center repeat;
        }
        /* .left-text {
            left: -19%;
        } */
        .passion-section .wrapper .left-text {
            left: -21%;
        }
        .comment .left-content {
            float: left;
            padding: 20px 0px 20px 22px;
        }
        header {
            background: url(../assets/images/sec-1-image.png) top center no-repeat;
            width: 72%;
            margin-left: 11%;
            position: relative;
        }
        .logo-text p {
            font-size: 70px;
            line-height: 70px;
        }
        .fa-bars {
            background-color: #150329;
            padding: 3% 3% 3% 3%;
            border: 1px solid #150329;
            margin-left: -7%;
        }
        .logo {
            padding: 0;
        }
        .passion-section .wrapper .left-text {
            position: absolute;
            top: 75%;
            left: -40px;
        }
        .fa-envelope,
        header .wrapper .content .right-content,
        .passion-section .wrapper .content .right-content,
        header .wrapper .logo img,
        .title,
        #ca-2,
        .dis-none,
        #ca-3,
        .article-section,
        /* .passion-section .wrapper .left-text p, */
        .passion-section .wrapper .content .left-content .bullets,
        .date,
        .contact {
            display: none;
        }
        .logo-text {
            display: inline-block;
            text-align: left;
        }
        .left-text {
            left: -23%;
        }
        .content .left-content {
            padding: 9% 18% 5% 3%;
        }
        .bullets {
            margin-right: -13%;
            padding: 130% 0% 28% 0%;
        }
        .fa-circle {
            font-size: 8px;
        }
        .cards {
            padding: 5% 0% 3% 11%;
        }
        .card {
            width: 90%;
        }
        .triangle {
            top: 41%;
        }
        .passion-section {
            margin-left: 8%;
            width: 85%;
        }
        .passion-section .wrapper .logo {
            width: 72%;
            text-align: center;
            padding: 57% 1% 22% 13%;
        }
        .content .left-content h3 {
            font-size: 22px;
            font-weight: 600;
        }
        .passion-section .wrapper .content .left-content {
            text-align: center;
            padding: 5.5% 17% 14% 8%;
        }
        .passion-section .wrapper {
            position: relative;
        }
        .info {
            padding-left: 7%;
            width: 79%;
        }
        .info h5 {
            padding-bottom: 7%;
            width: 100%;
        }
        .connect {
            width: 50%;
        }
        .connect-info {
            padding: 0% 0% 0% 6%;
        }
        .connect h3 {
            font-size: 18px;
        }
        .connect h5 {
            font-size: 11px;
            line-height: 20px;
            padding-bottom: 15%;
            padding-right: 11%;
        }
        .jordan-content {
            padding: 47.5% 21% 14.5% 17.5%;
        }
        .contact-section {
            padding: 6.5% 5% 0% 8%;
        }
        .about {
            width: 63%;
            padding-right: 0%;
        }
        .history {
            width: 36%;
        }
        .txt {
            width: 72%;
        }
        .txt h6 {
            padding: 12% 0% 20% 11%;
        }
        .right-arrow i.fa.fa-chevron-right {
            display: none;
        }
    }
    
    @media (max-width:479px) {
        .wrapper {
            max-width: 400px;
            margin: 0 auto;
            width: 100%;
        }
        .wrapper2 {
            max-width: 450px;
        }
        .txt h6 {
            padding: 12% 0% 20% 21%;
        }
        .info {
            padding-top: 8%;
            padding-left: 7%;
            width: 88%;
        }
        .logo-text p {
            font-size: 57px;
            line-height: 60px;
        }
        .fa-bars {
            margin-left: -9%;
        }
        .left-text {
            left: -27%;
        }
        .card {
            width: 83%;
        }
        .cards {
            width: 100%;
        }
        .passion-section .wrapper .logo {
            width: 77%;
            text-align: center;
            padding: 57% 0% 22% 10%;
        }
        .content .left-content h3 {
            font-size: 20px;
        }
        .connect h3 {
            font-size: 16px;
            padding-right: 9%;
        }
        .passion-section .wrapper .content .left-content {
            text-align: center;
            padding: 5.5% 17% 14% 11%;
        }
        .triangle {
            top: 37%;
        }
        .comment .left-content {
            float: left;
            padding: 20px 0px 20px 22px;
            width: 50%;
        }
        .about {
            width: 62%;
        }
        .contact-section {
            padding: 6.5% 13% 0% 15%;
        }
        .history {
            width: 38%;
        }
        .passion-section .wrapper .left-text {
            left: -7%;
        }
    }
    
    @media (max-width:375px) {
        .passion-section .wrapper .left-text {
            left: -8%;
        }
        .fa-bars {
            margin-left: -7%;
        }
        .left-text {
            left: -33%;
        }
        .triangle {
            top: 36%;
        }
        .contact-section {
            padding: 6.5% 13% 0% 6%;
        }
        .comment .left-content {
            float: left;
            padding: 20px 0px 18px 22px;
        }
        .jordan-content {
            padding: 47.5% 11% 14.5% 6.5%;
        }
        .txt h6 {
            padding: 12% 0% 20% 8%;
        }
    }