@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/ProximaNova-Regular.woff2') format('woff2'), url('../assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'), url('../assets/fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'), url('../assets/fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/ProximaNova-Bold.woff2') format('woff2'), url('../assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black Jack';
    src: url('../assets/fonts/BlackJack.woff2') format('woff2'), url('../assets/fonts/BlackJack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.625;
    color: #7e7e7e;
    font-family: 'Proxima Nova', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 90px;
    font-family: 'Black Jack';
    font-weight: 400;
}

h2 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 25px;
    font-weight: 500;
}

h3 {
    font-weight: 300;
    font-size: 35px;
    line-height: 45px;
}

h4 {
    font-weight: 700;
    font-size: 16px;
}

h5 {
    font-weight: 400;
    font-size: 16px;
}

h6 {
    font-weight: 400;
    font-size: 12px;
    color: #545454;
}

a {
    color: #6dc5ea;
    text-decoration: none;
}

a:hover {
    color: #14af8f;
}

blockquote {
    margin: 23px 0 0 -14px;
    padding-left: 18px;
    border-left: 6px solid #4dabdd;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}

.clearfix {
    display: block;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

.button a {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 25px;
    padding: 12px 28px;
    border: 2px solid #14af8f;
    color: #14af8f;
    background-color: transparent;
    border-radius: 2px;
    display: inline-block;
}

.button a span.text {
    display: inline-block;
    vertical-align: middle;
}

.button a i.fa {
    margin-left: 17px;
    vertical-align: middle;
}

.button.white a {
    color: #fff;
    background-color: transparent;
    border-color: #ffffff;
}

.button a:hover,
.button.white a:hover {
    color: #fff;
    background-color: #14af8f;
    border-color: transparent;
}

.button.pink a {
    color: #e94b89;
    background-color: transparent;
    border-color: #e94b89;
}

.button.pink a:hover,
.button.hover-pink a:hover {
    color: #fff;
    background-color: #e94b89;
    border-color: transparent;
}


/* Header */

header {
    background: url(../assets/images/bg-pattern.jpg) top left repeat;
}

.logo {
    float: left;
}

.site-navigation {
    float: right;
    margin-right: -3px;
}

button.navigation-trigger {
    font-size: 31px;
    color: #fff;
    background: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: 34px;
}

.navigation-trigger a i {
    color: white;
}

.navigation {
    display: none;
}


/* Hero/Banner Section */

.hero-section {
    background: url(../assets/images/bg-pattern.jpg) top left repeat;
    padding-top: 56px;
    color: #ffffff;
}

.hero-section h1 {
    margin-top: -11px;
}

.hero-section .wrapper .right-content {
    float: right;
    text-align: right;
}

.hero-section .wrapper .right-content h3 {
    margin-top: -34px;
}

.hero-section .wrapper .right-content .button a {
    border-color: white;
    color: white;
    margin-top: 10px;
    padding-left: 27px;
    border-radius: 2px;
}

.hero-section .wrapper .right-content .button:hover a {
    border-color: white;
    background-color: white;
    color: #4dabdd;
    border-radius: 2px;
}

.hero-section .wrapper .left-image {
    float: left;
    max-height: 231px;
    margin-left: 68px;
    overflow: hidden;
}

.hero-section .button {
    display: inline-block
}


/*About us*/

.about-section {
    background-color: #f4f4f4;
    padding-top: 140px;
}

.about-section .left-content {
    float: left;
    width: 60%;
    text-align: right;
}

.about-section .left-content h2 {
    margin-top: 9px;
    margin-left: -14px;
}

.about-section .left-content p {
    padding-top: 6px;
    margin-left: -14px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #7e7e7e;
    /* width: 532px; */
}

.about-section .left-content .max-container {
    max-width: 590px;
    display: inline-block;
    text-align: left;
}

.about-section .left-content .max-container .button a {
    margin-left: -13px;
    margin-top: 4px;
    padding-left: 28px;
    padding-right: 28px;
}

.about-section .right-image {
    float: right;
    margin-top: 10px;
    max-height: 500px;
    overflow: hidden;
}

.about-section .button {
    margin-top: 70px;
}


/*Dribbble Section*/

.dribbble-section {
    padding: 88px 0 238px;
    background: url(../assets/images/all-devices.png) bottom left no-repeat;
    background-position: left bottom -60px;
}

.dribbble-section h2 {
    margin-top: 0;
}

.dribbble-section .wrapper .right-content {
    float: right;
    margin-right: -8px;
    width: 100%;
    margin-top: 17px;
    max-width: 406px;
}

.dribbble-section .wrapper .right-content h2 {
    padding-bottom: 10px;
}

.dribbble-section .wrapper .right-content em {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #474e5d;
    font-weight: bold;
    margin-top: 0px;
}

.dribbble-section .wrapper .right-content p {
    padding-top: 8px;
    padding-left: 3px;
    margin-bottom: -15px;
}

.dribbble-section .button {
    margin-top: 70px;
}


/*Buy Me Beer*/

.buy-me-beer-section {
    background: url(../assets/images/cta-strip-bg.jpg) center center repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.buy-me-beer-section .wrapper .button a {
    border-color: white;
    margin-top: -6px;
    padding: 11px 40px 15px 40px;
    color: white;
}

.buy-me-beer-section .wrapper .button:hover a {
    border-color: white;
    background-color: white;
    color: #14af8f;
}

.buy-me-beer-section h3 {
    font-size: 40px;
    margin-top: -8px;
    font-weight: 500;
    line-height: 45px;
    color: #ffffff;
}


/*email-section*/

.email-section {
    padding: 245px 0;
    background: #f4f4f4;
    text-align: center;
}

.email-section .logos a {
    width: 55px;
    height: 55px;
    border: 3px solid;
    color: #535353;
    line-height: 50px;
    margin: -5px 16px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 500;
}

.email-input form {
    margin-top: 75px;
    margin-left: 25px;
}

.email-input form label {
    display: inline-block;
    vertical-align: middle;
    color: #545454;
    font-style: italic;
    font-weight: 700;
}

.email-section .wrapper .content .email-input form .input-submit {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 15px;
}

.input-submit .email {
    color: #d3d3d3;
    font-style: italic;
    font-family: Proxima Nova;
}

.email-input form .input-submit input {
    background: #fff;
    border: none;
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

.email-input form .input-submit button {
    background: #fff;
    border: none;
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

.email-input form .input-submit .fa-envelope:before {
    content: "\f0e0";
    color: #6ec5ea;
    border-left: 2px solid #d3d3d3;
    padding-left: 10px;
}


/*footer*/

.footer-section {
    padding: 40px 0;
    font-size: 12px;
    color: #000000;
}

.footer-section .wrapper .copyrights {
    text-align: center;
    margin: 3px 26px 0px 0px;
}

@media (max-width:1080px) {
    .wrapper {
        max-width: 900px;
    }
    .about-section .left-content .max-container {
        max-width: 100%;
        padding-left: 95px;
    }
    .dribbble-section .wrapper .right-content {
        float: right;
        margin-right: 0px;
        width: 100%;
        padding-left: 100px;
        margin-top: 17px;
        /* max-width: 406px; */
    }
    .email-section {
        padding: 100px 0;
    }
}

@media (max-width:992px) {
    .wrapper {
        max-width: 700px;
    }
    .hero-section .wrapper .right-content h3 {
        font-size: 32px;
    }
    .about-section .left-content .max-container {
        max-width: 100%;
        padding-left: 95px;
    }
    .dribbble-section .wrapper .right-content {
        float: right;
        margin-right: 0px;
        padding-left: 80px;
    }
    .email-section {
        padding: 100px 0;
    }
    .about-section .right-image {
        width: 40%;
    }
    .dribbble-section {
        background-size: 60% 45%;
    }
    .about-section .right-image {
        width: 30%;
    }
}

@media(max-width:767px) {
    .wrapper {
        max-width: 500px;
    }
    .hero-section h1 {
        font-size: 60px;
        line-height: 70px;
    }
    .hero-section .wrapper .left-image {
        margin-left: 0;
    }
    .hero-section .wrapper .right-content h3 {
        font-size: 24px;
    }
    .hero-section .wrapper .right-content .button a {
        border-color: white;
        color: white;
        font-size: 12px;
        padding: 8px 18px;
        margin-top: 10px;
        padding-left: 24px;
        border-radius: 2px;
    }
    .about-section .left-content .max-container {
        padding-left: 60px;
        padding-right: 36px;
    }
    .about-section .left-content h2,
    .dribbble-section .wrapper .right-content h2 {
        margin-bottom: 0px;
        font-size: 30px;
    }
    .site-navigation {
        margin: 0;
    }
    .about-section .left-content p,
    blockquote,
    .dribbble-section .wrapper .right-content em,
    .dribbble-section .wrapper .right-content p {
        margin-top: 0px;
        font-size: 12px;
    }
    .about-section .right-image {
        width: 40%;
    }
    .dribbble-section {
        background-size: 60% 45%;
    }
    .dribbble-section .wrapper .right-content {
        width: 65%;
    }
    .button.pink a {
        margin-top: -13px;
        font-size: 12px;
        padding: 5px 15px;
    }
}

@media(max-width:479px) {
    .wrapper {
        max-width: 400px;
    }
    .hero-section h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .hero-section .wrapper .right-content {
        text-align: center;
    }
    .hero-section .wrapper .right-content h3 {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .hero-section .wrapper .left-image {
        padding-top: 45px;
        padding-left: 0px;
        width: 40%;
    }
    .about-section .right-image {
        /* display: none; */
        width: 30%;
    }
    .about-section .left-content {
        width: 100%;
    }
    .about-section {
        padding-top: 50px;
    }
    .dribbble-section .wrapper .right-content {
        width: 102%;
        margin-bottom: -60px;
    }
    .dribbble-section {
        background-size: 69% 50%;
        padding: 5% 0 230px;
    }
    .button.pink a {
        margin-bottom: 22%;
    }
    .email-input form {
        margin-top: 50px;
        margin-left: 25px;
    }
    .about-section .left-content .max-container .button a {
        margin-left: 0px;
        margin-top: 0;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .email-section {
        padding: 50px 0;
    }
    .buy-me-beer-section {
        padding: 50px 0;
    }
    /* .about-section .left-content .max-container {
        padding: 0;
        padding-left: 0px;
    }
    .about-section .right-image {
        width: 41%;
    } */
}

@media (max-width:375px) {
    .wrapper {
        max-width: 350px;
        margin: 0 auto;
    }
    /* .hero-section h1 {
        font-size: 35px;
    } */
    .hero-section .wrapper .right-content {
        text-align: center;
        margin-right: 0px;
    }
    .hero-section .wrapper .left-image {
        margin-left: 104px;
    }
    .hero-section .wrapper .right-content h3 {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .about-section .right-image {
        width: 40%;
    }
    .about-section .left-content {
        /* float: left; */
        padding-right: 0px;
        width: 100%;
        text-align: right;
    }
    .about-section .left-content h2,
    .dribbble-section .wrapper .right-content h2 {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .about-section .left-content .max-container .button a {
        margin-left: -13px;
        margin-top: 0px;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .dribbble-section {
        padding-top: 10px;
        width: 100%;
        background-size: 69% 45%;
    }
    .email-section .logos a {
        width: 50px;
        height: 30px;
        border: 3px solid;
        color: #535353;
        line-height: 50px;
        margin: -5px 6px;
        padding: 0px 0px 47px 0px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        font-size: 18px;
        font-weight: 500;
    }
    .email-input form .input-submit input {
        background: #fff;
        border: none;
        font-size: 16px;
        line-height: 40px;
        margin-left: -40px;
        padding: 0 15px 0 0px;
        display: inline-block;
        vertical-align: middle;
        outline: none;
    }
    .buy-me-beer-section h3 {
        font-size: 20px;
    }
    .buy-me-beer-section .wrapper .button a {
        font-size: 13px;
        padding: 10px 10px;
    }
}